repos:
  - repo: https://github.com/awslabs/git-secrets
    rev: 5357e18
    hooks:
    - id: git-secrets
      entry: git-secrets
      args: [--scan, --recursive]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v1.42.0
    hooks:
      - id: cfn-python-lint
        files: templates\.(json|yaml|yml)$
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
  - repo: https://github.com/aristanetworks/j2lint.git
    rev: v1.2.0
    hooks:
      - id: j2lint
        args: [--ignore, jinja-variable-lower-case, --]
